<!DOCTYPE html>
<html lang="zh-CN">
  <meta charset="UTF-8">

  <script type="text/javascript" src="/javascript/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascript/echarts.min.js"></script>

  <head>
    <title>Main</title>
    <h2 style="margin:10px">股票价格查询</h2>
  </head>
  <body>
    <div class="input-group">
      <div class="input-group mb-3">
      
        <div class="input-group-prepend1" id="basic-addon1">
          <span class="input-group-text">股票代码</span>
        </div>
        <% if (code !== "") { %>
          <input id="stockCode" type="text" class="form-control" value="<%- code %>" aria-label="Username" aria-describedby="basic-addon1">
        <% } else { %>
          <input id="stockCode" type="text" class="form-control" placeholder="6位数字" aria-label="Username" aria-describedby="basic-addon1">
        <% } %>

        <div class="input-group-prepend2" id="basic-addon2">
          <span class="input-group-text">开始日期</span>
        </div>
        <% if (startDate !== "") { %>
          <input id="startDate" type="text" class="form-control" value="<%- startDate %>" aria-label="Username" aria-describedby="basic-addon1">
        <% } else { %>
          <input id="startDate" type="text" class="form-control" placeholder="YYYYMMDD" aria-label="Username" aria-describedby="basic-addon1">
        <% } %>
   
        <div class="input-group-prepend3" id="basic-addon3">
          <span class="input-group-text">结束日期</span>
        </div>
        
        <% if (endDate !== "") { %>
          <input id="endDate" type="text" class="form-control" value="<%- endDate %>" aria-label="Username" aria-describedby="basic-addon1">
        <% } else { %>
          <input id="endDate" type="text" class="form-control" placeholder="YYYYMMDD" aria-label="Username" aria-describedby="basic-addon1">
        <% } %>

        <span class="input-group-btn">
          <button id="searchButton" type="button" class="btn btn-primary">查询</button>
        </span>
      </div>
    </div>

    <!-- echarts -->
    <% if (title !== "") { %>  
      <div id="main" style="width:100%; height:400px;">
      </div> 
    <% } %>

    <!-- Error Alert -->
    <% if (err) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong> Your input may be wrong! 输入有误！
        <button id="alertDismiss" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  </body>

  <script type="text/javascript">
    var title = "<%= title %>";
    if (title !== "") {
      // echarts data
      var myChart = echarts.init(document.getElementById('main'));
      var option = {
        title: {
          text: "<%= title %>"
        },
        tooltip: {},
        xAxis: {
          data: [ <%- date %> ],
          axisLabel: {
            internal: 0,
            rotate: -30,
          }
        },
        yAxis: {},
        series: [{
              name: '价格(元)',
              type: 'line',
              data: [ <%- stockData %>]
          }]
      };
      myChart.setOption(option);
    }

    // button click
    $("#searchButton").click(function(){
      var code = $("#stockCode").val();
      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();
      location.href = "http://127.0.0.1:3000?code=" + code + "&startDate=" + startDate + "&endDate=" + endDate;
    });

    // input select when clicked
    $("input:text").click(function(){
        $(this).select();
    });    
  </script>
</html>