<!DOCTYPE html>
<html lang="zh-CN">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css" />
  <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/echarts.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

  <head>
    <title>Main</title>
    <h2 style="margin:10px">股票价格查询</h2>
  </head>
  <body>
    <div class="input-group">
      <div class="input-group mb-3">
      
        <div class="input-group-prepend1">
          <label for="stockCode" class="input-group-text">股票代码</label>
        </div>
        <div class="input-group col-md-2">
          <% if (code !== "") { %>
            <input id="stockCode" class="form-control" type="text" value="<%- code %>" data-link-field="stockCode">
          <% } else { %>
            <input id="stockCode" class="form-control" type="text" placeholder="股票代码/公司简称" data-link-field="stockCode">
          <% } %>
        </div>

        <div class="input-group-prepend2">
          <label for="startDate" class="input-group-text">开始日期</label>
        </div>
        <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyymmdd" data-link-format="yyyymmdd">
          <% if (startDate !== "") { %>
            <input id="startDate" class="form-control" type="text" value="<%- startDate %>" size="10" data-link-field="startDate">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          <% } else { %>
            <input id="startDate" class="form-control" type="text" value="" size="10" data-link-field="startDate">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          <% } %>
        </div>

        <div class="input-group-prepend3">
          <label for="endDate" class="input-group-text">结束日期</label>
        </div>
        <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyymmdd" data-link-format="yyyymmdd">
          <% if (endDate !== "") { %>
            <input id="endDate" class="form-control" type="text" value="<%- endDate %>" size="10" data-link-field="endDate">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          <% } else { %>
            <input id="endDate" class="form-control" type="text" value="" size="10" data-link-field="endDate">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          <% } %>
        </div>

        <span class="input-group-btn">
          <button id="searchButton" type="button" class="btn btn-primary">查询</button>
        </span>
      </div>
    </div>

    <!-- echarts -->
    <% if (title !== "") { %>  
      <div id="main" style="width:100%; height:400px;">
      </div> 
    <% } %>

    <!-- Error Alert -->
    <% if (err) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong> Your input may be wrong! 输入有误！
        <button id="alertDismiss" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  </body>

  <script type="text/javascript">
    var title = "<%= title %>";
    if (title !== "") {
      // echarts data
      var myChart = echarts.init(document.getElementById('main'));
      var option = {
        title: {
          text: "<%= title %>"
        },
        tooltip: {},
        xAxis: {
          data: [ <%- date %> ],
          axisLabel: {
            internal: 0,
            rotate: -30,
          }
        },
        yAxis: {
          type: 'value',
          scale: true
        },
        series: [{
              name: '价格(元)',
              type: 'line',
              data: [ <%- stockData %>]
        }],
        dataZoom: {
          show: true
        }
      };
      myChart.setOption(option);
    }

    // button click
    $("#searchButton").click(function() {
      var code = $("#stockCode").val();
      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();
      location.href = "http://127.0.0.1:3000?code=" + code + "&startDate=" + startDate + "&endDate=" + endDate;
    });

    // when keydown enter
    $(document).keydown(function(event) {
      if (event.keyCode==13) {
        $("#searchButton").click();
      }
    });

    // input select when clicked
    $("input:text").click(function(){
        $(this).select();
    });

    $('.form_date').datetimepicker({
      language:  'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 2,
      forceParse: 0,
      pickerPosition: "bottom-left"
    });

    $(function() {
      var availableStockCode = [];
      $.getJSON("data/stockCode.json", function (data){
          $.each(data, function (infoIndex, info){
            availableStockCode.push({"label": info["label"], "value": info["value"]});
          })
      });
      $( "#stockCode" ).autocomplete({
          source: availableStockCode,
          minLength: 4
      });
    });
  </script>
</html>